In [91]:
from pandas_datareader import data
from pandas_datareader._utils import RemoteDataError 
import pandas as pd 
import numpy as np
from datetime import datetime
import http.client
from io import StringIO
import requests
from pandas.io.json import json_normalize
import json

#start_date = '2017-01-01'
#End_date = str(datetime.now().strftime('%Y-%m-%d')) 
#print(End_date)

In [92]:
url = "https://apidojo-yahoo-finance-v1.p.rapidapi.com/stock/v2/get-financials"
symbol = "SMAR"
querystring = {"symbol":"AMZN"}

headers = {
    'x-rapidapi-host': "apidojo-yahoo-finance-v1.p.rapidapi.com",
    'x-rapidapi-key': "e95626441cmsh25fba4ace9e568fp1df029jsn7e70f492746c"
    }

response = requests.request("GET", url, headers=headers, params=querystring)

#print(response.text)

d = json.loads(response.text)

print(type(d))
print(len(d))
#print(d)

#print(len(d))

#resposne ahs following fields:
    ##"cashflowStatementHistory":{2 items

    #"balanceSheetHistoryQuarterly":{...}2 items
    #"earnings":{...}2 items
    #"price":{...}2 items
    #"incomeStatementHistoryQuarterly":{...}2 items
    #"incomeStatementHistory":{...}2 items
    #"balanceSheetHistory":{...}2 items
    #"cashflowStatementHistoryQuarterly":{...}2 items
    #"quoteType":{...}2 items
    #"summaryDetail":{...}2 items
    #"symbol":{...}1 item
    #"pageViews":{...}2 items

<class 'dict'>
17

In [93]:
#cashflowStatementHistoryQuarterly - object - Only 
#cashflowStatements - array

#data_CFSQ = d["cashflowStatementHistoryQuarterly"]["cashflowStatements"]

#print(type(data_CFSQ))
#print(len(data_CFSQ))
#list.index

#print(data)

In [94]:
data_CFSQ = (d.get('cashflowStatementHistoryQuarterly')).get("cashflowStatements")
print(type(data_CFSQ))
print(len(data_CFSQ))
list.index

<class 'list'>
4

In [95]:

#"changeToLiabilities"
#"netBorrowings"
##"totalCashFromFinancingActivities"
#"changeToOperatingActivities"
#"issuanceOfStock"
#"netIncome"
#"changeInCash"
#"endDate"
#"repurchaseOfStock"
#"totalCashFromOperatingActivities"
##"depreciation"
#"changeToInventory"
#"changeToAccountReceivables"
#"maxAge"
#"changeToNetincome"

#aassign symbol searched to all rows.

df_symbol = (symbol , symbol , symbol, symbol ) 
df_symbol = pd.DataFrame(df_symbol,columns=['symbol'])

invest = []  
endDate = []  
changeToLiabilities = []
netBorrowings = []
totalCashFromFinancingActivities = []
changeToOperatingActivities = []
issuanceOfStock = []
netIncome = []
changeInCash = []
endDate = []
repurchaseOfStock = []
totalCashFromOperatingActivities = []
depreciation = []
changeToInventory = []
changeToAccountReceivables = []
maxAge = []
changeToNetincome = []





for y in range(4):
    invest.append(data_CFSQ[y]['investments']['fmt']),
    endDate.append(data_CFSQ[y]['endDate']['fmt']),
    changeToLiabilities.append(data_CFSQ[y]['changeToLiabilities']['fmt']),
    netBorrowings.append(data_CFSQ[y]['netBorrowings']['fmt']),
    totalCashFromFinancingActivities.append(data_CFSQ[y]['totalCashFromFinancingActivities']['fmt']),
    changeToOperatingActivities.append(data_CFSQ[y]['changeToOperatingActivities']['fmt']),
    #date.append(data_CFSQ[y]['issuanceOfStock']['fmt']),
    netIncome.append(data_CFSQ[y]['netIncome']['fmt']),
    changeInCash.append(data_CFSQ[y]['changeInCash']['fmt']),
   # date.append(data[y]['repurchaseOfStock']['fmt']),
    totalCashFromOperatingActivities.append(data_CFSQ[y]['totalCashFromOperatingActivities']['fmt']),
    depreciation.append(data_CFSQ[y]['depreciation']['fmt']),
    changeToInventory.append(data_CFSQ[y]['changeToInventory']['fmt']),
    changeToAccountReceivables.append(data_CFSQ[y]['changeToAccountReceivables']['fmt']),
    #date.append(data_CFSQ[y]['maxAge']['fmt']),
    changeToNetincome.append(data_CFSQ[y]['changeToNetincome']['fmt']),
    

    

df_Invest = pd.DataFrame(invest,columns=['investments'])
df_endDate = pd.DataFrame(endDate,columns=['endDate'])
df_changeToLiabilities = pd.DataFrame(changeToLiabilities,columns=['changeToLiabilities'])
df_netBorrowings = pd.DataFrame(netBorrowings,columns=['netBorrowings'])
df_totalCashFromFinancingActivities = pd.DataFrame(totalCashFromFinancingActivities,columns=['totalCashFromFinancingActivities'])
df_changeToOperatingActivities = pd.DataFrame(changeToOperatingActivities,columns=['changeToOperatingActivities'])
#df_enddate = pd.DataFrame(date,columns=['issuanceOfStock'])
df_netIncome = pd.DataFrame(netIncome,columns=['netIncome'])
df_changeInCash = pd.DataFrame(changeInCash,columns=['changeInCash'])
#df_enddate = pd.DataFrame(date,columns=['repurchaseOfStock'])
df_totalCashFromOperatingActivities = pd.DataFrame(totalCashFromOperatingActivities,columns=['totalCashFromOperatingActivities'])
df_depreciation = pd.DataFrame(depreciation,columns=['depreciation'])
df_changeToInventory = pd.DataFrame(changeToInventory,columns=['changeToInventory'])
df_changeToAccountReceivables = pd.DataFrame(changeToAccountReceivables,columns=['changeToAccountReceivables'])
#df_enddate = pd.DataFrame(date,columns=['maxAge'])
df_changeToNetincome = pd.DataFrame(changeToNetincome,columns=['changeToNetincome'])



#print (df_enddate)
#print (df_Invest)

#print (df_Invest)

#print (df_endDate)
#$print (df_changeToAccountReceivables)
#print (df_changeToNetincome)


data = pd.concat([df_symbol, df_endDate, df_Invest, 
               df_changeToLiabilities, 
               df_netBorrowings, 
               df_totalCashFromFinancingActivities, 
               df_changeToOperatingActivities, 
               df_netIncome,
               df_changeInCash,
               df_totalCashFromOperatingActivities,
               df_depreciation,
               df_changeToInventory,
               df_changeToAccountReceivables,
               df_changeToNetincome,
               
               
              ], axis=1)
#print(data)

In [98]:
#print (data)

In [99]:
print(data.shape)
print (data.index)
print(data.columns)

(4, 14)
RangeIndex(start=0, stop=4, step=1)
Index(['symbol', 'endDate', 'investments', 'changeToLiabilities',
       'netBorrowings', 'totalCashFromFinancingActivities',
       'changeToOperatingActivities', 'netIncome', 'changeInCash',
       'totalCashFromOperatingActivities', 'depreciation', 'changeToInventory',
       'changeToAccountReceivables', 'changeToNetincome'],
      dtype='object')

In [213]:
#df_Total = pd.DataFrame(df_Invest + df_enddate,columns=['endDate','investments'])
#for x in range(len(data)): 
 #   print (data[x]),

df_ = pd.DataFrame(data, columns=['endDate', 'investments', 'changeToLiabilities','netBorrowings',
       'totalCashflowsFromInvestingActivities', 'changeToOperatingActivities','netIncome',
       'changeInCash', 'totalCashFromOperatingActivities',
       'depreciation', 'changeToInventory', 'changeToAccountReceivables',
       'changeToNetincome'])
    
df_.index
df_.shape
CFS_Q = df_.T
CFS_Q

,0,1,2,3
endDate,2020-03-31,2019-12-31,2019-09-30,2019-06-30
investments,-3.38B,1.18B,-1.29B,-4.79B
changeToLiabilities,-7.44B,11.17B,173M,4.06B
netBorrowings,-2.59B,-3.57B,-1.96B,-2.16B
totalCashflowsFromInvestingActivities,NaN,NaN,NaN,NaN
changeToOperatingActivities,-2.76B,2.89B,-722M,-623M
netIncome,2.54B,3.27B,2.13B,2.62B
changeInCash,-8.9B,12.86B,589M,-542M
totalCashFromOperatingActivities,3.06B,19.66B,7.89B,9.12B
depreciation,5.36B,6.17B,5.56B,5.2B
changeToInventory,1.39B,-1.52B,-381M,-2.1B
changeToAccountReceivables,1.26B,-3.9B,-1.18B,-2.19B
changeToNetincome,2.71B,1.58B,2.31B,2.15B

In [214]:
## price data 

data_price = d["price"]
#data = d["cashflowStatementHistoryQuarterly"]["cashflowStatements"]
print(len(data_price))
#print(data_price)

43

In [225]:


#for y in range(4):

quoteSourceNamee_live = data_price['quoteSourceName']
regularMarketOpen_live = data_price['regularMarketOpen']['fmt']
averageDailyVolume3Month_live = data_price['averageDailyVolume3Month']['fmt']
volume24Hr_live = data_price['volume24Hr']
longName_live= data_price['longName']

preMarketPrice_live = data_price['preMarketPrice']
preMarketChange_live = data_price['preMarketChange']
postMarketChange_live = data_price['postMarketChange']['raw']
postMarketPrice_live = data_price['postMarketPrice']['raw']
regularMarketDayLow_live = data_price['regularMarketDayLow']['raw']
regularMarketPrice_live = data_price['regularMarketPrice']['raw']
regularMarketVolume_live = data_price['regularMarketVolume']['raw']
marketState_live = data_price['marketState']
postMarketChangePercent_live = data_price['postMarketChangePercent']['raw']


price_qoute_Names = ("quoteSourceNamee", 
                       "longName",
                       "regularMarketOpen",
                       "averageDailyVolume3Month",
                       "preMarketPrice", 
                       "preMarketChange", "postMarketChange", 
                       "postMarketPrice, regularMarketDayLow",  
                       "regularMarketVolume",
                       "marketState",
                       "postMarketChangePercent",
                      )

price_qoute = (quoteSourceNamee_live, 
               longName_live,
               regularMarketOpen_live,
               averageDailyVolume3Month_live,
               preMarketPrice_live, 
               preMarketChange_live, postMarketChange_live, 
               postMarketPrice_live, regularMarketDayLow_live,  
               regularMarketVolume_live,
               marketState_live,
               postMarketChangePercent_live,
               
              ) 
df_price_qoute = pd.DataFrame(price_qoute,columns=['price_qoute'])
df_price_qoute_Names = pd.DataFrame(price_qoute_Names,columns=['price_qoute_Names'])

df_Final_Qoute = pd.concat([df_price_qoute_Names, df_price_qoute], axis=1)

#df_price_qoute = pd.DataFrame(price_qoute + ,columns=['quoteSourceName'])


print(df_Final_Qoute)

                       price_qoute_Names       price_qoute
0                       quoteSourceNamee     Delayed Quote
1                               longName  Amazon.com, Inc.
2                      regularMarketOpen          2,444.51
3               averageDailyVolume3Month             5.65M
4                         preMarketPrice                {}
5                        preMarketChange                {}
6                       postMarketChange                -4
7   postMarketPrice, regularMarketDayLow              2479
8                    regularMarketVolume           2437.13
9                            marketState           3306445
10               postMarketChangePercent            CLOSED
11                                   NaN       -0.00161095

In [ ]:
print(df2.iloc[1])

#print(df1[['endDate']].iloc[1].str.split(pat = "2019", expand=True))
#look up by row number

endDate    {'raw': 1577750400, 'fmt': '2019-12-31'}
Name: 1, dtype: object

In [190]:
print(df2.iloc[0])

endDate    {'raw': 1585612800, 'fmt': '2020-03-31'}
Name: 0, dtype: object